.social-nav-team {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 16px;
}

.social-icon-team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-team:not(:last-child) {
    margin-right: 10px;
}

.social-link-team {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover .social-icon-team,
.social-link-team:focus .social-icon-team {
    fill: $color-white;
}

.social-link-team:hover,
.social-link-team:focus {
    background: $color-blue;
}

.social-icon-team {
    fill: #AFB1B8;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background: $color-blue;
}

.footer-icon {
    fill: $color-white;
}