.list.advantages {
    display: inline-block;
    width: 270px;
    margin-bottom: 94px;
    &:not(:last-child) {
        margin-right: 30px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 170px;
        background-color: #F5F4FA;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        margin-bottom: 30px;
        background-size: 70px;
    }
    
    &.antenna::before {
        background-image: url(../icons/antenna.svg);
    }
    
    &.clock::before {
        background-image: url(../icons/clock.svg);
    }
    
    &.diagram::before {
        background-image: url(../icons/diagram.svg);
    }
    
    &.astronaut::before {
        background-image: url(../icons/astronaut.svg);
    }
}

.main-title-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-block-end: 10px;
}

.main-text-3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-grey;
    margin-top: 0;
    margin-bottom: 0;
}